@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.todo-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    height: 100vh;
    background-size: cover;
     
}
.todo-header-container{
     text-align:center;
     color:white;
     font-family:"Roboto";
}
.todo-header{
    font-weight: bold;
    font-size: 50px;
}

.todo-caption {
    font-size:16px;
}

.todo-title{
    color:white;
    font-family:"Roboto";
    font-size:18px;
    font-weight:bold;
    padding-left:10px;
}
.todo-description{
    color:white;
    font-family:"Roboto";
    font-size:16px;
    padding-left:10px;
}
.todo-footer{
    text-align: center;
}
.button {
    background-color: orange;
    font-size: 20px;
    font-weight:bold;
    height: 40px;
    width: 80px;
    color: white;
}

.underline {
    text-decoration: underline;
    font-size:12px;
    font-weight:500;
    font-family:"Roboto";
    color:white;
}